.main-container {
  width: 800px;
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.green {
  background-color: green;
}

.blue {

  background-color: blue;
}

.onehalfwidth {
  width: 50%;
  height: 200px;
}

.box {
  display: inline-block;
  border: 1px solid black;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.onethirdwidth {
  height: 300px;
  width: 33.33%;
}
